<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">NOTARIA TUCCIO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item me-3">
                <a class="nav-link" href="#">INICIO</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link" href="#">NOSOTROS</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  SERVICIOS NOTARIALES
                </a>
                <ul class="dropdown-menu me-2">
                  <li><a class="dropdown-item" href="#">Servicios1</a></li>
                  <li><a class="dropdown-item" href="#">Servicios2</a></li>
                  <li><a class="dropdown-item" href="#">Servicios3</a></li>
                </ul>
              </li>
              <li class="nav-item me-3">
                <button class="btn btn-primary" type="submit">CONTÁCTENOS</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container">
        {% block body %}

        {% endblock %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Texto que estará encima de la imagen por la izquierda -->
                <h1>MÁS DE UNA DÉCADA AL SERVICIO NOTARIAL</h1>
                <p></p>
                <h3>Bienvenidos a notaria Tuccio</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- Imagen -->
                <img src="/imagenes/inicio.jpeg" class="img-fluid" alt="Mi Imagen">
            </div>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>