{% extends './base.html' %}

{% block title %} Index {% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">NOTARIA TUCCIO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-5">
            <a class="nav-link" href="#">INICIO</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="#">NOSOTROS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SERVICIOS NOTARIALES
            </a>
            <ul class="dropdown-menu me-5">
              <li><a class="dropdown-item" href="#">Servicios1</a></li>
              <li><a class="dropdown-item" href="#">Servicios2</a></li>
              <li><a class="dropdown-item" href="#">Servicios3</a></li>
            </ul>
          </li>
          <li class="nav-item me-5">
            <button class="btn btn-primary" type="submit">CONTÁCTENOS</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
        <div class="col">
            <!-- Texto que estará encima de la imagen por la izquierda -->
            <h1>MÁS DE UNA DÉCADA AL SERVICIO NOTARIAL</h1>
            <p></p>
            <h3>Bienvenidos a notaria Tuccio</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Imagen -->
            <img src="/imagenes/inicio.jpeg" class="img-fluid" alt="Mi Imagen">
        </div>
    </div>
</div>

<!-- Ubicacion-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- Datos de la empresa -->
            <h2>Cómo contactarnos</h2>
            <ul>
              <strong>Direccion</strong>
              <li>Av. Nicolas Ayllon 2939-Lima 1</li>
            </ul>
            <ul>
              <strong>Contáctanos</strong>
              <li>999 999 999</li>
              <li>ejemplo@tuccio.com</li>
            </ul>
            <ul>
              <strong>Horarios</strong>
              <li>Lunes a Viernes 9:00 am - 6:00 pm</li>
              <li>Sábados 9:00 am - 1:00 pm</li>
            </ul>
        </div>
        <div class="col-md-6">
            <!-- Imagen de ubicación -->
            <img src="C:/Users/Eduardo/Desktop/projectos_python/web_tuccio/imagenes/mapanotaria.jpg" class="img-fluid" alt="Ubicación de la empresa">
        </div>
    </div>
</div>
  <!-- Preguntas frecuentes-->
  <div class="container">
    <h1 class="text-center">PREGUNTAS FRECUENTES SOBRE TUCCIO</h1>

    <div class="accordion" id="faqAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    ¿Qué documentos necesito para realizar un trámite en la notaría?
                </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">DNI Original y Copia</li>
                        <li class="list-group-item">Copia de recibo de agua y luz</li>
                        <li class="list-group-item">Documento no adeudado</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  ¿Qué documentos necesito para realizar un trámite en la notaría?
              </button>
          </h2>
          <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">DNI Original y Copia</li>
                      <li class="list-group-item">Copia de recibo de agua y luz</li>
                      <li class="list-group-item">Documento no adeudado</li>
                  </ul>
              </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  ¿Qué documentos necesito para realizar un trámite en la notaría?
              </button>
          </h2>
          <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">DNI Original y Copia</li>
                      <li class="list-group-item">Copia de recibo de agua y luz</li>
                      <li class="list-group-item">Documento no adeudado</li>
                  </ul>
              </div>
          </div>
        </div>

    </div>
  </div>
{% endblock %}