{% extends './base.html' %}

{% block title %} Nosotros {% endblock %}

{% block body %}

<!--traer el header que es igual en todos lados| hacer header fijo -->
<style>
    body {
        margin: 0;
    }

    .container {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    #presentacion {
        width: 100vw;
        height: 150px;
        background-size: cover;
    }

    #presentacion_distribucion {
        width: 100%;
        height: 100%;
        background: #072845b7;
        display: flex;
        align-items: center;
    }

    #presentacion_info {
        border-left: white solid 15px;
        margin-left: 5vw;
    }

    h1,
    h3 {
        margin: 0;
        margin-left: 1vw;
        color: white;
        font-size: 2rem;
    }

    h3 {
        font-size: 1rem;
    }

    #informacion_1 {
        width: 100vw;
        padding-left: 5vw;
        color: black;
        display: flex;
        align-items: center;
    }

    #informacion_1_ilustracion {
        display: flex;
        align-items: center;
    }

    #img1_barra {
        width: 10px;
        height: 100px;
        background: rgb(29, 29, 99);
    }

    #img1 {
        width: 200px;
        height: 200px;
        background: gray;
        border-radius: 7px;
        box-shadow: 1px 1px 10px -5px black;
    }
</style>
<section id="presentacion">
    <section id="presentacion_distribucion">
        <div id="presentacion_info">
            <h1>SOMOS NOTARÍA TUCCIO</h1>
            <h3>servicios y trámites notariales</h3>
        </div>
    </section>
    <section id="informacion_1">
        <div id="informacion_1_ilustracion">
            <div id="img1_barra"></div>
            <div id="img1"><!-- esto será un img--></div>
        </div>
        <div id="informacion_1_texto">
            <h2>Notario del Distrito Notarial de Lima</h2>
            <h1>El Dr. Jaime Tuccio Valverde Notario</h1>
            <p>Nombrado por Resolución Suprema N° 129-99-JUS publicada el 13 de abril de 1999, es miembro de la orden
                bajo el N°139 del
                Colegio de Notarios de Lima. Es abogado de la Pontificia Universidad Católica del Perú colegiado en 1991
                y ha ejercido
                en Derecho Civil, Comercial y Procesal Civil.
                La "Notaria Tuccio" brinda una gama de servicios de fácil acceso y celeridad en los trámites que usted
                nos solicite.
                Contamos con conexiones virtuales a sitios estatales como RENIEC, SUNARP, ORLC, SAT, por lo cual
                garantizamos rapidez en
                sus trámites.</p>
        </div>
    </section>
    <section id="informacion_2"
        style="width: 100vw; height: 50vh; background: rgba(15, 15, 61, 0.959); display: flex; justify-content: center; align-items: center;">
        <h2>NOTARIA TUCCIO</h2>
        <h1>ACERCA DE NOSOTROS</h1>
        <p>Un poco de la historia de Tuccio lorem ipsum unde omnis iste natus error sit voluptatem accusantium
            doloremque
            laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et vitae dicta sunt, explicabo.
            Nemo enim
            vitae dicta

            sed quia consequuntur magni dolores eos, qui ratione dolorem ipsum, quia dolor sit amet consectetur
            adipisci[ng] velit,
            sed quia dolore magnam aliquam quaerat voluptatem. </p>
    </section>
    <section id="informacion_2"
        style="width: 100vw; height: 50vh; background: rgba(219, 219, 219, 0.959); display: flex; justify-content: center; align-items: center;">
        <div class="card">
            <h2>MISION</h2>
            <p>Ofrecemos seguridad jurídica, con celeridad y transparencia a través de nuestros procesos altamente
                confiables. Nuestro
                compromiso con la comunidad, ejecutado de manera activa y voluntaria, promueve la educación en los niños
            </p>
        </div>
        <div class="card">
            <h2>VISION</h2>
            <p>Trabajamos en la mejora continua, para llegar a ser la Notaría Líder y seguir ofreciendo a nuestros
                clientes servicios
                de calidad en el tiempo oportuno. </p>
        </div>
    </section>
    <section id="informacion_2"
        style="width: 100vw; height: 50vh; background: rgba(15, 15, 61, 0.959); display: flex; justify-content: center; align-items: center;">
        <div id="informacion_1_ilustracion">
            <div id="img1_barra"></div>
            <div id="img1"><!-- esto será un img--></div>
        </div>
        <div id="informacion_1_texto">
            <h2>Notario del Distrito Notarial de Lima</h2>
            <h1>Nuestro Equipo en Notaria Tuccio</h1>
            <p>Un poco de la historia de Tuccio lorem ipsum unde omnis iste natus error sit voluptatem accusantium
                doloremque
                laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et vitae dicta sunt,
                explicabo. Nemo enim
                vitae dicta

                sed quia consequuntur magni dolores eos, qui
                ratione dolorem ipsum, quia dolor sit amet consectetur
                adipisci[ng] velit,
                sed quia dolore magnam aliquam quaerat voluptatem. </p>
        </div>
    </section>
    <footer style="width: 100vw; height: 75px; background: rgb(13, 13, 39);"></footer>
</section>

{% endblock %}