<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TUCCIO servicios</title>
    <link rel="stylesheet" href="/templates/styles/servicios.css">
</head>

<body>
    <section id="presentacion">
        <section id="presentacion_distribucion">
            <div id="presentacion_barra"></div>
            <div id="presentacion_info">
                <h1>SOMOS NOTARÍA TUCCIO</h1>
                <p>servicios y trámites notariales</p>
            </div>
        </section>
    </section>


    <div class="servicio_contenedor">
        <div class="sidebar">
            <ul>
                <li><a href="#opcion1">Escrituras Públicas</a>
                    <div id="opcion1" class="submenu">
                        <ul>
                            <li><a id="opcion11" onclick="obtener_id(event);">Compra venta de bien inmueble</a></li>
                            <li><a id="opcion12" onclick="obtener_id(event);">Donación</a></li>
                            <li><a id="opcion13" onclick="obtener_id(event);">Anticipo deLegítima</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#opcion2">Asuntos No Contenciosos</a>
                    <div id="opcion2" class="submenu">
                        <ul>
                            <li><a id="opcion21" onclick="obtener_id(event);">Sucesión Intestada</a></li>
                            <li><a id="opcion22" onclick="obtener_id(event);">Rectificación de Partidas</a></li>
                            <li><a id="opcion23" onclick="obtener_id(event);">Constitución y Disolución de Patrimonio
                                    Familiar</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#opcion3">Otros</a>
                    <div id="opcion3" class="submenu">
                        <ul>
                            <li><a id="opcion31" onclick="obtener_id(event);">Submenú 2.1</a></li>
                            <li><a id="opcion32" onclick="obtener_id(event);">Submenú 2.2</a></li>
                            <li><a id="opcion33" onclick="obtener_id(event);">Submenú 2.3</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#opcion4">Actas</a>
                    <div id="opcion4" class="submenu">
                        <ul>
                            <li><a id="opcion41" onclick="obtener_id(event);">Submenú 2.1</a></li>
                            <li><a id="opcion42" onclick="obtener_id(event);">Submenú 2.2</a></li>
                            <li><a id="opcion43" onclick="obtener_id(event);">Submenú 2.3</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#opcion5">Legalizaciones</a>
                    <div id="opcion5" class="submenu">
                        <ul>
                            <li><a id="opcion51" onclick="obtener_id(event);">Submenú 2.1</a></li>
                            <li><a id="opcion52" onclick="obtener_id(event);">Submenú 2.2</a></li>
                            <li><a id="opcion53" onclick="obtener_id(event);">Submenú 2.3</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#opcion6">Otros Servicios</a>
                    <div id="opcion6" class="submenu">
                        <ul>
                            <li><a id="opcion61" onclick="obtener_id(event);">Submenú 2.1</a></li>
                            <li><a id="opcion62" onclick="obtener_id(event);">Submenú 2.2</a></li>
                            <li><a id="opcion63" onclick="obtener_id(event);">Submenú 2.3</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div id="servicio_informacion">
            <h2>Información del Servicio</h2>
            <p id="contenedor_informacion"></p>
            <div> <button id="abrir_formulario">CONSULTAR FORMULARIO</button>
            </div>
        </div>
    </div>

    <script src="/templates/scripts/servicios.js"></script>
</body>

</html>